body {
    background-color: #FAF6F1;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #757E82;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 150px;
    height: auto;
}

h1{
    color: #77DD77;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 

nav li{
    display:inline-block;
    /*width:15%;*/
    padding:5px 10px;
    background-color: #77DD77;
    border:1px solid  #77DD77;
    text-align:center;
    color:#fff;
}

nav li:hover{
    background-color:#fff;
    color:#3fb43f;
}